#sloganSection {
    height: 230px;
    background-image: url(src/img/jumbotron.jpg);
    background-size: cover;
    background-position: 0% 35%;
}

#sloganSection p {
    font-size: 1.2rem;
}

#products {
    margin-top: 80px;
}

.product {
    width: 348px;
}